@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Poppins:wght@100;300;400;500;600;700&family=Rubik:ital,wght@0,400;0,500;0,600;1,300&display=swap');
 .logo{font-family: 'Chakra Petch', sans-serif; font-family: 'Poppins', sans-serif; font-family: 'Rubik', sans-serif;font-size: 1.5em;}

*{box-sizing: border-box; }
.carousel .card{z-index:999;flex-basis:25%;height: 315px;}
.salType{bottom:10px}
.card-text{max-height: 180px;overflow: hidden;white-space: normal;text-overflow: ellipsis;-webkit-box-orient: vertical; display: -webkit-box;-webkit-line-clamp: 5;line-height: 1.3em;}
 a{text-decoration: none; color:#000 }
.bg{background:#36b7d3!important}
.btn{border:none!important}
.btn:hover{border:none!important}
.adminDetails{background:url("../images/bg.png")no-repeat; background-position: right; }
.jobs .card:hover{ color: black; border: 1px solid #36b7d3; background:#f1f1f1}
.joblist:hover {color: black;  border: 1px solid #36b7d3;  background: #f1f1f1}
.bg-primary,.btn-primary{background:#36b7d3!important }
ul li {list-style: none;}
.inneradminDetails{border:none;z-index:9999}
.inneradminDetails .card:hover{background:none; border:none }
.innerMain{background:url("../images/bg-inner.png");background-position: top;}
/* .carousel-control-prev, .carousel-control-next{visibility: hidden;z-index:99999}
.carousel-control-prev:hover, .carousel-control-next:hover{visibility: visible;} */
#carousal-prev{ position: absolute!important; left: -70px!important;}
#carousal-next{position: absolute!important; right: -60px!important;}
.edituser:hover svg{fill:#36b7d3}
.deleteuser:hover svg{fill:#f00}
.hide-model{display: none !important;}
.toast-mail{position: absolute; top: 50px; left: 0; z-index: 9999;}
.round-input-otp{border-top-left-radius: 5px !important; border-bottom-left-radius: 5px !important; border-top-right-radius:0px !important; border-bottom-right-radius: 0px !important;}
.round-btn-otp{border-top-right-radius: 5px !important; border-bottom-right-radius: 5px !important; border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important;}
.message{max-height:32px!important;}