/* varibale declare */
/* For all pages */
:root{
  --blue: #82C8D7;
}

body{
  /* background-color: rgb(236, 236, 236); */
  background: url("../Images/bg-inner.png");
    background-position: top;
}

/* .wrapper{
  margin: 3rem;
} */

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
}

.footer {
  background-color: var(--blue);
}

.footer p {
  margin: 0;
}

.copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.947)
}

.btn-info{
  --bs-btn-bg:var(--blue);
  --bs-btn-border-color: none;
}

.job-listing{
    min-width: 70rem;
    min-height: 30rem;
    margin-top: 3%;
    margin-bottom: 3%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.job-listing-content{
  /* position: relative; */
  margin: 3%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#job-listing-table{
  margin-top: 2rem;
  border: white;
}

.job-tr>td{
  padding-top: 2rem;
}

.img-fluid{
  margin-top: 8%;
}

.fname{border-top-left-radius: .375rem; border-bottom-left-radius:.375rem;}
.loginMargin{margin-top: 5rem;}
.loginContainer{border-radius: 25px; min-height: 35rem;}

.btn-apply{
  position: fixed;

}

li{
  font-weight: 600;
}

@media screen and (max-width: 670px){
  .btn-apply{
    top:180px;
    right:40px;
  }
}

.login-content{
  margin: 3% 0;
}
