:root{
  --blue: #82C8D7;
}

*{
  box-sizing: content-box;
}

body{
  background-color: rgb(236, 236, 236);
}

.wrapper{
  margin: 3rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
}

.btn-info{
  /* --bs-btn-color: #82C8D7; */
  --bs-btn-bg:var(--blue);
  --bs-btn-border-color: none;
}

.job-listing{
    /* display:  */
    min-width: 70rem;
    min-height: 30rem;
    /* left: 56px;
    top: 100px; */
    margin-top: 3%;
    margin-bottom: 3%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.job-listing-content{
  /* position: relative; */
  margin: 3%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#job-listing-table{
  margin-top: 2rem;
  border: white;
}

.job-tr>td{
  padding-top: 2rem;
}

footer{
  background-color: var(--blue);
  padding: 2%;
}

.copyright{
  text-align: center;
  color: rgba(255, 255, 255, 0.947)
}

.img-fluid{
  margin-top: 8%;
}