<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Bootstrap CDN -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../../css/custom.css">
</head>

<body>
  <!-- <div class="container"> -->
    
    <header class="bg pt-2 pb-2 d-flex fixed">
      <div class="container">
        <a href="entrance_page.html" class="logo text-white d-inline"> Job Hub </a>
        <!-- <div class="dropdown d-inline float-end w-20">
          <button class="btn dropdown-toggle text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            John Doe
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Change Password</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </div> -->
    </header>

    <section class="login-content ">
      <div class="container-fluid h-custom mx-5" style="border-radius: 25px; min-height: 20rem;">
        <div class="row d-flex justify-content-center align-items-center h-100" style="margin-top: 2rem;">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="../images/registerationImg.webp"
              class="img-fluid" alt="Sample image">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form method="post" act>
              <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-4" style="color: var(--blue);">Welcome to Job Hub</p>
              <br>
              <!-- username input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Enter your email" />
              </div>

              <!-- Password input -->
              <div class="form-outline mb-3">
                <input type="password" id="form3Example4" class="form-control form-control-lg"
                  placeholder="Enter password" />
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                <div class="form-check mb-0">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                  <label class="form-check-label" for="form2Example3">
                    Remember me
                  </label>
                </div>
                <a href="#!" class="text-body">Forgot password?</a>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: var(--blue);--bs-btn-border-color:none">Login</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="registration.html"
                    class="link-danger">Register</a>
                </p>
              </div>

            </form>
          </div>
        </div>
      </div>
    </section>
  </div>

    <footer class="bg-dark mt-5">
      <div class="container py-5 d-flex">
        <div class="col-8 pe-4">
          <a href="#" class="logo text-white d-inline"> Job Hub </a>
          <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, tenetur
            dolor, sit amet consectetur adipisicing elit. Consectetur.
        </div>
        <div class="col">
          <h5 class="text-white">Social Link </h5>
          <ul class="p-0 text-white d-flex justify-content-between">
            <li>facebook</li>
            <li>Gmail</li>
            <li>Instagram</li>
            <li>Twitter</li>
          </ul>
        </div>
      </div>
      <div class="copy-right border-top border-gray text-left container p-2">
        <span class=" text-white text-small">Copyright Jaspal and Joling. All rights reserved.</span>
    
      </div>
    
    
    </footer>
</body>

</html>